In [77]:
import numpy as np
import pandas as pd

## 1.1

In [78]:
df = pd.read_csv('AMZN.csv')
df.columns = df.columns.str.replace(' ', '_')
df['Close_Price'] = df['Close_Price'].str.replace(',', '').astype(float)
df.head()

,Date,Close_Price,Open_Price,High_Price,Low_Price,Total_Traded_Quantity
0,24-Oct-19,1780.78,"1,770.78","1,787.97","1,760.78",5.20M
1,23-Oct-19,1762.17,"1,761.30","1,770.05","1,742.00",2.19M
2,22-Oct-19,1765.73,"1,788.15","1,789.78","1,762.00",2.23M
3,21-Oct-19,1785.66,"1,769.66","1,785.88","1,765.00",2.22M
4,18-Oct-19,1757.51,"1,787.80","1,793.98","1,749.20",3.37M

## 1.2

In [79]:
cp = np.array(df['Close_Price'])
cp = cp[0:90]

In [80]:
print('Maximum price for last 90 days: ', max(cp))

Maximum price for last 90 days:  2020.99

In [81]:
print('Minimum price for last 90 days: ', min(cp))

Minimum price for last 90 days:  1705.51

In [82]:
print('Mean price for last 90 days: ',np.mean(cp))

Mean price for last 90 days:  1837.378666666667

## 1.3

In [83]:
df.dtypes

Date                      object
Close_Price              float64
Open_Price                object
High_Price                object
Low_Price                 object
Total_Traded_Quantity     object
dtype: object

In [84]:
df['Date'] = pd.to_datetime(df['Date'])
max(df['Date']) - min(df['Date'])

Timedelta('729 days 00:00:00')

In [85]:
df.dtypes

Date                     datetime64[ns]
Close_Price                     float64
Open_Price                       object
High_Price                       object
Low_Price                        object
Total_Traded_Quantity            object
dtype: object

## 1.4

In [86]:
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Year'] = pd.DatetimeIndex(df['Date']).year
df.head()

,Date,Close_Price,Open_Price,High_Price,Low_Price,Total_Traded_Quantity,Month,Year
0,2019-10-24,1780.78,"1,770.78","1,787.97","1,760.78",5.20M,10,2019
1,2019-10-23,1762.17,"1,761.30","1,770.05","1,742.00",2.19M,10,2019
2,2019-10-22,1765.73,"1,788.15","1,789.78","1,762.00",2.23M,10,2019
3,2019-10-21,1785.66,"1,769.66","1,785.88","1,765.00",2.22M,10,2019
4,2019-10-18,1757.51,"1,787.80","1,793.98","1,749.20",3.37M,10,2019

In [87]:
ttq = df['Total_Traded_Quantity'].str.replace('M', '')
ttq = np.array(ttq.astype(float)) * 1000000
df['Total_Traded_Quantity'] = ttq
df.head()

,Date,Close_Price,Open_Price,High_Price,Low_Price,Total_Traded_Quantity,Month,Year
0,2019-10-24,1780.78,"1,770.78","1,787.97","1,760.78",5200000.0,10,2019
1,2019-10-23,1762.17,"1,761.30","1,770.05","1,742.00",2190000.0,10,2019
2,2019-10-22,1765.73,"1,788.15","1,789.78","1,762.00",2230000.0,10,2019
3,2019-10-21,1785.66,"1,769.66","1,785.88","1,765.00",2220000.0,10,2019
4,2019-10-18,1757.51,"1,787.80","1,793.98","1,749.20",3370000.0,10,2019

In [88]:
def vwap(df):
    q = df.Total_Traded_Quantity.values
    p = df.Close_Price.values
    return df.assign(VWAP=(p * q).cumsum() / q.cumsum())

df = df.groupby([(df['Year']),(df['Month'])]).apply(vwap)
df = df.sort_values(by=['Date'], ascending=False)
df.head()

                   Date  Close_Price Open_Price High_Price Low_Price  \
Year Month
2019 10    0 2019-10-24      1780.78   1,770.78   1,787.97  1,760.78
           1 2019-10-23      1762.17   1,761.30   1,770.05  1,742.00
           2 2019-10-22      1765.73   1,788.15   1,789.78  1,762.00
           3 2019-10-21      1785.66   1,769.66   1,785.88  1,765.00
           4 2019-10-18      1757.51   1,787.80   1,793.98  1,749.20

              Total_Traded_Quantity  Month  Year         VWAP
Year Month
2019 10    0              5200000.0     10  2019  1780.780000
           1              2190000.0     10  2019  1775.264993
           2              2230000.0     10  2019  1773.054699
           3              2220000.0     10  2019  1775.418193
           4              3370000.0     10  2019  1771.450368

## 1.5

In [89]:
def avg_Price(n):
    return np.mean(np.array(df['Close_Price'])[0:n])

def Profit_Loss(n):
    cp = np.array(df['Close_Price'])
    return ((cp[n-1]-cp[0])/cp[0])*100

In [90]:
print('Avergae Price of last 1 week: ', avg_Price(7))
print('Avergae Price of last 2 weeks: ', avg_Price(14))
print('Avergae Price of last 1 month: ', avg_Price(30))
print('Avergae Price of last 3 months: ', avg_Price(91))
print('Avergae Price of last 6 months: ', avg_Price(182))
print('Avergae Price of last 1 year: ', avg_Price(365))

Avergae Price of last 1 week:  1773.8228571428572
Avergae Price of last 2 weeks:  1752.350714285714
Avergae Price of last 1 month:  1761.505
Avergae Price of last 3 months:  1838.0818681318683
Avergae Price of last 6 months:  1811.3885164835167
Avergae Price of last 1 year:  1772.9082191780822

In [91]:
print('Profit/Loss Percentage of last 1 week: ', Profit_Loss(7))
print('Profit/Loss Percentage of last 2 weeks: ', Profit_Loss(14))
print('Profit/Loss Percentage of last 1 month: ', Profit_Loss(30))
print('Profit/Loss Percentage of last 3 months: ', Profit_Loss(91))
print('Profit/Loss Percentage of last 6 months: ', Profit_Loss(182))
print('Profit/Loss Percentage of last 1 year: ', Profit_Loss(365))

Profit/Loss Percentage of last 1 week:  -0.18811981266635458
Profit/Loss Percentage of last 2 weeks:  -2.7021866822403604
Profit/Loss Percentage of last 1 month:  3.288446635743884
Profit/Loss Percentage of last 3 months:  6.771751704309343
Profit/Loss Percentage of last 6 months:  -7.890924201754286
Profit/Loss Percentage of last 1 year:  -11.49271667471558

## 1.6

In [92]:
df['Day_Perc_Change'] = df['Close_Price'].pct_change()*100
df['Day_Perc_Change'][0] = 0
df.head()

C:\Users\Dell\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                   Date  Close_Price Open_Price High_Price Low_Price  \
Year Month
2019 10    0 2019-10-24      1780.78   1,770.78   1,787.97  1,760.78
           1 2019-10-23      1762.17   1,761.30   1,770.05  1,742.00
           2 2019-10-22      1765.73   1,788.15   1,789.78  1,762.00
           3 2019-10-21      1785.66   1,769.66   1,785.88  1,765.00
           4 2019-10-18      1757.51   1,787.80   1,793.98  1,749.20

              Total_Traded_Quantity  Month  Year         VWAP  Day_Perc_Change
Year Month
2019 10    0              5200000.0     10  2019  1780.780000         0.000000
           1              2190000.0     10  2019  1775.264993        -1.045048
           2              2230000.0     10  2019  1773.054699         0.202024
           3              2220000.0     10  2019  1775.418193         1.128712
           4              3370000.0     10  2019  1771.450368        -1.576448

## 1.7

In [93]:
def label_race (df):
    if df['Day_Perc_Change'] >= -0.5 and df['Day_Perc_Change'] <= 0.5:
      return 'Slight or No change'
    if df['Day_Perc_Change'] >= 0.5 and df['Day_Perc_Change'] <= 1.0:
      return 'Slight positive'
    if df['Day_Perc_Change'] >= -1.0 and df['Day_Perc_Change'] <= -0.5:
      return 'Slight negative'
    if df['Day_Perc_Change'] >= 1.0 and df['Day_Perc_Change'] <= 3.0:
      return 'Positive'
    if df['Day_Perc_Change'] >= -3.0 and df['Day_Perc_Change'] <= -1.0:
      return 'Negative'
    if df['Day_Perc_Change'] >= 3.0 and df['Day_Perc_Change'] <= 7.0:
      return 'Among top gainers'
    if df['Day_Perc_Change'] >= -7.0 and df['Day_Perc_Change'] <= -3.0:
      return 'Among top losers'
    if df['Day_Perc_Change'] > 7.0:
      return 'Bull run'
    if df['Day_Perc_Change'] < -7.0:
      return 'Bear drop'
    return 'Other'

df['Trend'] = df.apply(lambda df: label_race(df), axis=1)
df.head()

                   Date  Close_Price Open_Price High_Price Low_Price  \
Year Month
2019 10    0 2019-10-24      1780.78   1,770.78   1,787.97  1,760.78
           1 2019-10-23      1762.17   1,761.30   1,770.05  1,742.00
           2 2019-10-22      1765.73   1,788.15   1,789.78  1,762.00
           3 2019-10-21      1785.66   1,769.66   1,785.88  1,765.00
           4 2019-10-18      1757.51   1,787.80   1,793.98  1,749.20

              Total_Traded_Quantity  Month  Year         VWAP  \
Year Month
2019 10    0              5200000.0     10  2019  1780.780000
           1              2190000.0     10  2019  1775.264993
           2              2230000.0     10  2019  1773.054699
           3              2220000.0     10  2019  1775.418193
           4              3370000.0     10  2019  1771.450368

              Day_Perc_Change                Trend
Year Month
2019 10    0         0.000000  Slight or No change
           1        -1.045048             Negative
           2         0.202024  Slight or No change
           3         1.128712             Positive
           4        -1.576448             Negative

## 1.8

In [94]:
avg = df.groupby(df['Trend'])['Total_Traded_Quantity'].mean()
med = df.groupby(df['Trend'])['Total_Traded_Quantity'].median()
print('Average of Total_Traded_Quantity: \n', avg)
print('\nMedian of Total_Traded_Quantity: \n',med)

Average of Total_Traded_Quantity:
 Trend
Among top gainers      6.445161e+06
Among top losers       7.190000e+06
Bear drop              6.420000e+06
Bull run               1.029000e+07
Negative               4.891727e+06
Positive               5.060746e+06
Slight negative        4.368082e+06
Slight or No change    4.188966e+06
Slight positive        4.620192e+06
Name: Total_Traded_Quantity, dtype: float64

Median of Total_Traded_Quantity:
 Trend
Among top gainers       6020000.0
Among top losers        6515000.0
Bear drop               6420000.0
Bull run               10290000.0
Negative                4385000.0
Positive                4520000.0
Slight negative         3810000.0
Slight or No change     3680000.0
Slight positive         4265000.0
Name: Total_Traded_Quantity, dtype: float64

## 1.9

In [95]:
df.to_csv('week2.csv')